<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <connectionStrings>
      <add name="tw4db" connectionString="Data Source=127.0.0.1;Initial Catalog=xxx;User ID=xxx;Password=xxx;Charset=WIN1251;Role='xxx';Pooling=false;NoGarbageCollect=true;" providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <userSettings>
        <Service.Properties.Settings>
            <setting name="DayFrom" serializeAs="String">
                <value>16:00:00</value>
            </setting>
            <setting name="DayTo" serializeAs="String">
                <value>23:59:59</value>
            </setting>
            <setting name="NightFrom" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="NightTo" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="TaskGetPrih_Type" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="TaskGetPrih_Value" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TaskPrihAnswer_Type" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="TaskPrihAnswer_Value" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TaskGetOrder_Type" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="TaskGetOrder_Value" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TaskOstatki_Type" serializeAs="String">
                <value>h</value>
            </setting>
            <setting name="TaskOstatki_Value" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TaskAdresDelivery_Value" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TaskOrderAnswer_Type" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="TaskOrderAnswer_Value" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TaskVzvr_Type" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="TaskVzvr_Value" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TaskVzvr_isActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskOrderAnswer_isActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskAdresDelivery_isActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskOstatki_isActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskGetOrder_isActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskGetPrih_isActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskPrihAnswer_isActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskAdresDelivery_Type" serializeAs="String">
                <value>dh</value>
            </setting>
            <setting name="TaskRez_isActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskRez_Type" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="TaskRez_Value" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TaskSnRez_isActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskSnRez_Type" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="TaskSnRez_Value" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TaskGetPrih_LastRun" serializeAs="String">
                <value>01/01/2021 01:00:00</value>
            </setting>
            <setting name="TaskPrihAnswer_LastRun" serializeAs="String">
                <value>01/01/2021 01:00:00</value>
            </setting>
            <setting name="TaskGetOrder_LastRun" serializeAs="String">
                <value>01/01/2021 01:00:00</value>
            </setting>
            <setting name="TaskOrderAnswer_LastRun" serializeAs="String">
                <value>01/01/2021 01:00:00</value>
            </setting>
            <setting name="TaskVzvr_LastRun" serializeAs="String">
                <value>01/01/2021 01:00:00</value>
            </setting>
            <setting name="TaskOstatki_LastRun" serializeAs="String">
                <value>01/01/2021 01:00:00</value>
            </setting>
            <setting name="TaskAdresDelivery_LastRun" serializeAs="String">
                <value>01/01/2021 01:00:00</value>
            </setting>
            <setting name="TaskRez_LastRun" serializeAs="String">
                <value>01/01/2021 01:00:00</value>
            </setting>
            <setting name="TaskSnRez_LastRun" serializeAs="String">
                <value>01/01/2021 01:00:00</value>
            </setting>
        </Service.Properties.Settings>
    </userSettings>
</configuration>