<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="tw4db" connectionString="Data Source=127.0.0.1;Initial Catalog=xxx;User ID=xxx;Password=xxx;Charset=WIN1251;Role='xxx';Pooling=false;NoGarbageCollect=true;" providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>