<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cron.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="tw4db" connectionString="Data Source=127.0.0.1;Initial Catalog=xxx;User ID=xxx;Password=xxx;Charset=WIN1251;Role='xxx';Pooling=false;NoGarbageCollect=true;" providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <userSettings>
        <Cron.Properties.Settings>
            <setting name="ftp_host" serializeAs="String">
                <value>ftp.xxx.xxx</value>
            </setting>
            <setting name="ftp_port" serializeAs="String">
                <value>1777</value>
            </setting>
            <setting name="LocalPrihDir" serializeAs="String">
                <value>\CRON_PRIH</value>
            </setting>
            <setting name="LocalPrihAnswerDir" serializeAs="String">
                <value>\CRON_PRIH\ANSWER</value>
            </setting>
            <setting name="FtpPrihAnswerDir" serializeAs="String">
                <value>/MED/PRIH/</value>
            </setting>
            <setting name="FtpPrihArchivDir" serializeAs="String">
                <value>/KRON/PRIH/arhiv/</value>
            </setting>
            <setting name="FtpPrihDir" serializeAs="String">
                <value>/KRON/PRIH/</value>
            </setting>
            <setting name="LocalPriceDir" serializeAs="String">
                <value>\CRON_PRICE</value>
            </setting>
            <setting name="FtpPriceDir" serializeAs="String">
                <value>/MED/PRICE/</value>
            </setting>
            <setting name="LocalOrderDir" serializeAs="String">
                <value>\CRON_ORDER</value>
            </setting>
            <setting name="LocalOrderAnswerDir" serializeAs="String">
                <value>\CRON_ORDER\ANSWER</value>
            </setting>
            <setting name="FtpOrderDir" serializeAs="String">
                <value>/KRON/ORDER/</value>
            </setting>
            <setting name="FtpOrderAnswerDir" serializeAs="String">
                <value>/MED/ORDER/</value>
            </setting>
            <setting name="FtpOrderArchivDir" serializeAs="String">
                <value>/KRON/ORDER/Arhiv/</value>
            </setting>
            <setting name="LocalAdresDeliveryDir" serializeAs="String">
                <value>\CRON_ADRESS</value>
            </setting>
            <setting name="FtpAdressDir" serializeAs="String">
                <value>/MED/ADRES/</value>
            </setting>
            <setting name="LocalRezDir" serializeAs="String">
                <value>\CRON_REZERV</value>
            </setting>
            <setting name="LocalRezAnswerDir" serializeAs="String">
                <value>\CRON_REZERV\ANSWER</value>
            </setting>
            <setting name="FtpRezDir" serializeAs="String">
                <value>/KRON/REZERV/</value>
            </setting>
            <setting name="FtpRezAnswerDir" serializeAs="String">
                <value>/MED/REZERV/</value>
            </setting>
            <setting name="FtpRezArchivDir" serializeAs="String">
                <value>/KRON/REZERV/Архив/</value>
            </setting>
            <setting name="FtpPrihAnswerMdDir" serializeAs="String">
                <value>/MED/KIZ_PRIH/</value>
            </setting>
            <setting name="MaskPrih" serializeAs="String">
                <value>pr</value>
            </setting>
            <setting name="MaskOrder" serializeAs="String">
                <value>ord</value>
            </setting>
            <setting name="MaskRez" serializeAs="String">
                <value>rez</value>
            </setting>
            <setting name="MaskSnRez" serializeAs="String">
                <value>snrez</value>
            </setting>
            <setting name="FtpVzvrDir" serializeAs="String">
                <value>/MED/PZ_VZVR/</value>
            </setting>
            <setting name="LocalVzvrDir" serializeAs="String">
                <value>\CRON_PZ_VZVR</value>
            </setting>
            <setting name="FtpOrderAnswerMdDir" serializeAs="String">
                <value>/MED/KIZ_ORDER/</value>
            </setting>
            <setting name="FtpOrderAnswerOptDir" serializeAs="String">
                <value>/MED/KIZ_ORDER/</value>
            </setting>
            <setting name="ftp_usr" serializeAs="String">
                <value>xxx</value>
            </setting>
            <setting name="ftp_psw" serializeAs="String">
                <value>xxx</value>
            </setting>
            <setting name="MailTo" serializeAs="String">
                <value>xxx@profitmed.net;zzz@profitmed.net</value>
            </setting>
        </Cron.Properties.Settings>
    </userSettings>
</configuration>