<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Reglam.Properties.Reglam" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="PauseDayFrom" value="16:00:00"/>
      <add key="PauseDayTo" value="23:59:59"/>
      <add key="PauseNightFrom" value="00:00:00"/>
      <add key="PauseNightTo" value="06:00:00"/>
      <add key="AllowNightFrom" value="23:00:00"/>
      <add key="TaskGetPrih" value="active=1;period=m;value=10;last=01.01.2021 00:00"/>
      <add key="TaskAdresDelivery" value="active=1;period=dh;value=6;last=01.01.2021 00:00"/>
      <add key="TaskGetOrder" value="active=1;period=m;value=10;last=01.01.2021 00:00"/>
      <add key="TaskOrderAnswer" value="active=1;period=m;value=10;last=01.01.2021 00:00"/>
      <add key="TaskOstatki" value="active=1;period=h;value=6;last=01.01.2021 00:00"/>
      <add key="TaskPrihAnswer" value="active=1;period=m;value=10;last=01.01.2021 00:00"/>
      <add key="TaskRez" value="active=1;period=m;value=10;last=01.01.2021 00:00"/>
      <add key="TaskSnRez" value="active=1;period=m;value=10;last=01.01.2021 00:00"/>
      <add key="TaskVzvr" value="active=1;period=m;value=10;last=01.01.2021 00:00"/>
      <add key="TaskOrderAnswerOpt" value="active=1;period=m;value=10;last=01.01.2021 00:00"/>
      <add key="TaskTest" value="active=1;period=m;value=10;last=01.01.2021 00:00"/>
    </appSettings>
</configuration>